* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: #333;
    padding: 1.5rem;
}

.container  {
    max-width: 1140px;
    margin: 0 auto;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #fff;
}