* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: #333;
    padding: 1.5rem;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
}

.menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #fff;
}

/* CSS Slide w3school */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 2rem;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: auto;
    height: 700px;
    object-fit: cover;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.active,
.dot:hover {
    background-color: #717171;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }

}

/* End Slide */

.btn-log {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: .5rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-log:hover {
    color: #333;
    background: #fff;
    transition: 0.3s;
}

.form-label h1 {
    text-align: center;
    margin-top: 2rem;
}

form {
    display: flex;
    width: 400px;
    flex-direction: column;
    position: absolute;
    transform: translate(-50% , -50%);
    left: 50%;
    top: 50%;

    label {
        margin: .5rem 0;
    }

    input {
        border: 1px solid #333;
        border-radius: 15px;
        padding: 10px;
        font-size: 20px;
    }

    input[type="submit"] {
        width: 100px;
        margin-top: 1rem;
        align-self: end;
    }
}